.auth-container {
  width: 400px;
  margin: 80px auto;
  padding: 40px;
  text-align: center;
  border-radius: 12px;
  background: #ffffff;
  color: #000000;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.brand {
  color: #2d3e50;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  color: #555;
  font-size: 14px;
  margin-bottom: 25px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: rgb(87, 5, 164);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: rgb(61, 1, 118);
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
}

.terms {
  font-size: 15px;
  color: #000000;
  margin-top: 20px;
}

.icon {
  height: 60px;
  width: 60px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}


.last-name {
  width: 100%;
  align-self: flex-end;
}

.first-name {
  width: 100%;
  align-self: flex-end;
}

.error {
  color: red;
  margin-top: 8px;
  font-size: 14px;
}

a {
  color: #000000;
}