.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f0e8ff;
}

.dashboard-container h1 {
  color: #6a0dad;
  margin-bottom: 20px;
}

.dashboard-container button {
  background: #6a0dad;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  width: 100px;
  cursor: pointer;
}